:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --background-dark-color: #2F303A;
    --background-grey-color:#F5F4FA;
    --black-color:#000000;
    --footer--link: rgba(255, 255, 255, 0.6);
    --main-button-active: #188CE8;
}
/* синій #2196F3  */
/* білий  #FFFFFF */
/* сірий  #757575; */
/* чорний #212121; */
/* колір фону #FFFFFF */
/* колір фону 2  #2F303A; */
/* колір фону 3 #F5F5F5 */
/* колір фону 4  #F5F4FA */
.body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
  
}

/* Скинути крапочки в ул */
.list {
    list-style: none;
}
button {
    font-family: inherit;
}
/* стилізація хедеру */

/* стилізація логотипу */
.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif ;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
    }

.logo-studio {
    color:var(--black-color);
    
}

/* стилізація навігації */
.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* стилізація контактної інформації */
.contacts a {
    color:var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* секція герой */
.hero {
    background:var(--background-dark-color);

}

.hero-title {    
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
}
/* кнопка */
.button {
    background-color: var(--background-grey-color);
    color: var(--title-text-color);
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    
   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--main-button-active);
    color: var(--primary-white-color);
    cursor: pointer;
}

/* секція наші принципи */
.principles .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

}
.principles p {
    line-height: 1.71;
}

/* заголовки секцій */
.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
}
/* секція наша команда */
.section-team {
    background-color: var(--background-grey-color);
}
.team-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-list p {
    font-size: 16px;
    line-height: 1.18;
}
/* підвал сайту */
 .footer {
    background-color: var(--background-dark-color);
 }
 .footer .footer-logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif ;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;

}
.footer-logo-studio {
    color: var(--primary-white-color);

}

.address-link {
    color: var(--footer--link);

    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
}

.actual-address {
    color: var(--primary-white-color);

    text-decoration: none;
    font-style: normal;    
    line-height: 1.5;
}

.actual-address:hover,
.actual-address:focus,
.address-link:hover,
.actual-address:focus {
    color: var(--accent-color);
}

/* сторінка портфоліо */
.button.secondary {
    background-color: var(--background-grey-color);
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.button.secondary:hover,
.button.secondary:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}
.projects a {
    text-decoration: none;
}
.projects-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
   
  
}
.projects-type {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;

}
